[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
[user]
	name = Filippo Bollarino
	email = 13319932+filobolla@users.noreply.github.com
